/* INICIO ESTILOS PAGINA CONTACTO */
.secForm{
  display: flex;
  padding: 50px 20px;
  flex-direction: row;
  justify-content: center;  
}
.formOut{
  width: 40%;
}
.formInfo{
  width: 40%;
  background-image: url('../img/watermelon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.formOne{
  background-color: #bdce40;
  padding: 20px;
  width: auto;
}
.pInfo{
  position: relative;
  top: 60%;
}
.labelCont{
  display: inline-block;
  margin: 15px;
  font-size: 16px;
  color: #254d6f;
}
.inpCont{
  margin: 0px;
  padding: 5px 0px;
  width: 100%;
  display: block;
  border: none;  
  border-radius: 5px;
  transition: background-color 2s;
}
.inpCont:focus{  
  background-color: #89cbef;
  border: none;
}
.inpContCh{
  margin: 0px;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  top: 7px;
}
.inpRes{
  font-family: 'Source Sans Pro';
  font-size: 15px;
  color: #254d6f;
  margin: 15px 15px 0px 0px;
  border: black 0px solid;
  border-radius: 1em;
  padding: 10px;
}
.seleCont{
  padding: 4px;
  border: none;
  border-radius: 5px;
}
/* FIN ESTILOS PAGINA CONTACTO */









/* OPTIMIZACIÓN PARA PANTALLAS MOVILES */
@media (min-width: 576px){
  .modal-dialog {
      max-width: 800px;
      margin: 1.75rem auto;
  }
}  
@media only screen and (max-width: 600px){

  
  .tbClasif {
    grid-template-columns: repeat(4, 90px);
    justify-content: center;
    padding: 0px;
  }
  .pHead {
    font-size: 15px;
  }
  .pItems {
    font-size: 15px;
  }
  .asImg {
    width: auto;
  }
 
  .h100 {
    height: 30vh;
  }
  .secForm {
    flex-direction: column-reverse;
    padding: 20px 20px;
  }
  .formOne {
    width: auto;
    height: auto;
  }
  .labelCont {
    vertical-align: super;
    font-size: 15px;
  }
  .inpContCh {
    display: inline;
    position: relative;
    top: -5px;
    height: auto;
    width: auto;
  }
  .seleCont {
    position: relative;
    top: 0px;
    left: 5px;
  }
  .formOut {
    width: 100%;
  }
  .formInfo {
    width: 100%;
  }
  .pInfo {
    background: #00000094;
    color: #bdce40;
  }
 
  .descClas {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }  
 
  .propIn {
    flex-direction: column;   
  }
  .propIn1, .propIn2, .propIn3, .propIn4, .propIn5, .propIn6, .propIn7{
    height: 80vh;  
    width: 100%;
  }
  .propDesc1, .propDesc2, .propDesc3, .propDesc4, .propDesc5, .propDesc6, .propDesc7{
    height: auto;
    width: 100%;
  }
  .cont2, .cont4, .cont6{
    display: flex;
    flex-direction: column-reverse;
  }
}
/* OPTIMIZACIÓN PARA TABLETAS Y PANTALLAS MEDIANAS */
@media only screen and (min-width: 600px) and (max-width: 992px){

  .pInfo {
    color: #000000;
    position: relative;
    top: 0%;
    padding: 50% 30px;
    backdrop-filter: blur(10px);
  }
  .formInfo {
    background-size: cover;
    background-position: center;
  }

  .descClas {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px;
  }

  .propIn {
    flex-direction: column;   
  }
  .propIn1, .propIn2, .propIn3, .propIn4, .propIn5, .propIn6, .propIn7{
    height: 80vh;  
    width: 100%;
  }
  .propDesc1, .propDesc2, .propDesc3, .propDesc4, .propDesc5, .propDesc6, .propDesc7{
    height: auto;
    width: 100%;
  }
  .cont2, .cont4, .cont6{
    display: flex;
    flex-direction: column-reverse;
  }
}
