@media only screen and (max-width: 600px){
    body{
        background-image: url('../img/peppers.jpg');    
    }  
    ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    li {
        width: 100%;
    }
    a{
        font-size: 20px;
    }
    p {
        font-size: 16px;
        padding: 20px;
        text-align: justify;
    }
    footer {
        margin-top: 0px;
    }
    .headerTBG {
        flex-direction: column; 
        flex-wrap: nowrap;  
        height: auto;
    }
    .headerT {
        font-size: 32px;  
        font-size: 40px; 
        padding: 10px 0px;
    }
    .neon {        
        padding: 0 8px;
        padding: 0 5px;
    }
    .neon:after {        
        padding: 2px 12px;   
        padding: 4px 8px;     
    }    
    .mainTittle {
        font-size: 30px;
        width: 100%;
        padding: 20px;
    }
    .footerP {
        letter-spacing: 0px;
        font-size: 18px;
        padding: 15px;
    }
    .secIn {
        flex-direction: column;
    }
    .firstSec {
        height: 74vh;
        padding: 20px;
        justify-content: space-evenly;
    }
    .pClasif {
        width: 100%;
        padding: 20px 30px;
        border-radius: 1em;
    }
    .slides {
        grid-template-columns: 1fr;    
    
      &__content{
          height: 60vh;   
          background-position-y: center; 
      }
      &__descrip{
          top: 65%;
      }
    }  
    .menu-clasificacion {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, auto);
    }
    .descrip-clasificacion {   
      &__content {
          flex-direction: column;
          height: auto;
          padding: 0px 20px;
      }
      &__pic{
          width: 100%;
          height: 300px;
          margin: 20px 0px;
          border-radius: 9em;
      }
      &__datos{
          width: 100%;
      }
      &__text{
          font-size: 16px;
          width: 100%;
          padding: 20px 20px;
          border-radius: 1em;
      }
    }  
    .recetas {
        display: grid;
        grid-template-columns: auto;
    
      &__video{
          width: 100%;
      }
      &__pic{
          width: 100%;
          padding: 20px;
      }
      &__text {
          padding: 20% 30px;
      }
    }
    .propiedades{       
      &__content {    
          display: flex;
          flex-direction: column;
      }
      &__pic {       
          width: 100%;
      }
      &__descrip {
          height: auto;
          width: 100%;
      }
      &__text {
        font-size: 18px;
      }
    }  
    .newidth {
      max-width: 100%;
    }
    .modalCont {
      flex-direction: column;
    }
    .imgModal {
      width: 50%;
    }
    .tbClasif {
      grid-template-columns: repeat(4, 90px);
      justify-content: center;
      padding: 0px;
    }
    .pHead {
      font-size: 15px;
    }
    .pItems {
      font-size: 15px;
    }
    .asImg {
      width: auto;
    }    
    .secForm {
      flex-direction: column-reverse;
      padding: 20px 20px;
    }
    .formOne {
      width: auto;
      height: auto;
    }
    .labelCont {
      vertical-align: super;
      font-size: 15px;
    }
    .inpContCh {
      display: inline;
      position: relative;
      top: -5px;
      height: auto;
      width: auto;
    }
    .seleCont {
      position: relative;
      top: 0px;
      left: 5px;
    }
    .formOut {
      width: 100%;
    }
    .formInfo {
      width: 100%;
    }
    .pInfo {
      background: #00000094;
      color: #bdce40;
    }    
    .descClas {
      flex-direction: column;
      height: auto;
      padding: 20px;
    }    
}

@media only screen and (min-width: 600px) and (max-width: 992px){
    .headerTBG {
        flex-direction: column;
    }
    .headerT {
        font-size: 60px;  
    } 
    ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    li {
      width: 100%;
    }
    .firstSec {
        height: 50vh;
    }
    .mainTittle {
        width: 90%;
        font-size: 50px;    
    }
    .pClasif {
        width: 90%;
        font-size: 27px;
    }    
    .slides {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
      &__content{
          height: 40vh;
          background-position-y: center;
      }
      &__descrip {
          top: 60%;
      }
    }  
    .menu-clasificacion {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 500px);
    }
    .descrip-clasificacion { 
      &__content {
          display: flex;
          flex-direction: column;
          height: auto;
          padding: 30px;
      }
      &__pic{
          width: 100%;
          height: 400px;
          border-radius: 13em;
      }
      &__datos{
          width: 100%;
      }
    }  
    .recetas {
        display: grid;
        grid-template-columns: 45% 45%;
    }
    .propiedades__descrip {
        height: auto;
    }
    .pInfo {
        color: #000000;
        position: relative;
        top: 0%;
        padding: 50% 30px;
        backdrop-filter: blur(10px);
    }
    .formInfo {
      background-size: cover;
      background-position: center;
    }  
    .descClas {
      display: flex;
      flex-direction: column;
      height: auto;
      padding: 30px;
    }  
}

/* OPTIMIZACIÓN PARA PANTALLAS 1200PX APROX */
@media only screen and (min-width: 1200px){
    .slides {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}
