/* INICIO ESTILOS COMPARTIDOS EN TODO EL SITIO */
*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Josefin';
    src: url('../../fonts/JosefinSansRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
} 

@font-face {
    font-family: 'hollowIn';
    src: url('../../fonts/NeonGlowBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
} 

html{
    scroll-behavior: smooth;
}
body{  
    font-family: 'Source Sans Pro', sans-serif;  
    background-image: url('../img/leaves.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 2s ease-in-out;
    line-height: 1.15;
}
nav{
    background: #090d13;
    padding: 0px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    margin: 0px;
    width: 100%;
}
li {
    display: inline-block;
    width: 15%;
    position:relative;
    text-align: center;
}
ul ul{
    position: absolute;
    display: none;
}
ul ul li{
    display: block;
}
ul li:hover ul{
    display: block;
}
a{
    text-decoration: none;
    font-weight: 900;
}
footer{
    background: #090d13; 
    display: block;
    position: relative;
    bottom: 0px; 
}
table {
    border: 3px solid gray;
    width: 98%;
    background: yellowgreen;
}
th {
    background-color: #000000;
    border: 1px solid;
    color: wheat;
    padding: 10px;
}
tr, td {
    border: 1px solid;
    padding: 10px;
}
h1{
    color: #840bc1;
    padding: 30px;
    font-family: 'Acme', sans-serif;
}
p{
    color: #090d13;
    font-size: 18px;
    font-style: italic;
    padding: 30px;
    margin: 0px;
}
input{
    padding: 5px;
    margin: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px $biche;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0a090880;
}
.content{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    overflow: inherit;
}
.mainBD{
    backdrop-filter: blur(5px);
}
.headerTBG{
    height: 15vh;
    display: flex;    
    flex-direction: row;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: $darkblue;
    background-image: url('../img/wall.jpg');
    background-repeat: repeat-x;
    background-size: contain;
    backdrop-filter: blur(10px);
}
.headerT{    
    font-size: 70px;    
    font-style: normal;
    text-align: center;
    padding: 15px;
}
.span1:hover{
    color: $carmesi;
}
.span2:hover{
    color: $turmenic;
}
.span3:hover{
    color: $ambar;
}
.span4:hover{
    color: $menta;
}
.span5:hover{
    color: $palta;
}
.span6:hover{
    color: $indigo;
}
.span7:hover{
    color: $malva; 
}
.neon{
    position: relative;
    top: 0;
    left: 0;
    font-family: 'Fredoka One', cursive;
    font-family: 'hollowIn';
    font-weight: lighter;
    color: white;
    padding: 0 10px;
    text-shadow: 0 4px 20px #ff005b;    
    &:after
    {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      padding: 2px 15px;
      z-index: -1;
      color: #ff005b;
      filter: blur(1px);
    }
&:before{
      content: '';
      position: absolute;
      top: 0%;
    left: 8%;
    width: 100%;
    height: 100%;
      background: #fe3a80;
      z-index: -2;
      opacity: 1;
      filter: blur(30px);
    }
    &--shadow1{
        text-shadow: 0 4px 20px $carmesi;
        &:after
        {        
            color: $carmesi;        
        }
        &:before{
            content: '';            
            background: $carmesi;            
        }
    }
    &--shadow2{
        text-shadow: 0 4px 20px $turmenic;
        &:after
        {        
            color: $turmenic;        
        }
        &:before{
            content: '';            
            background: $turmenic;            
        }
    }
    &--shadow3{
        text-shadow: 0 4px 20px $ambar;
        &:after
        {        
            color: $ambar;        
        }
        &:before{
            content: '';            
            background: $ambar;            
        }
    }
    &--shadow4{
        text-shadow: 0 4px 20px $menta;
        &:after
        {        
            color: $menta;        
        }
        &:before{
            content: '';            
            background: $menta;            
        }
    }
    &--shadow5{
        text-shadow: 0 4px 20px $palta;
        &:after
        {        
            color: $palta;        
        }
        &:before{
            content: '';            
            background: $palta;            
        }
    }
    &--shadow6{
        text-shadow: 0 4px 20px $indigo;
        &:after
        {        
            color: $indigo;        
        }
        &:before{
            content: '';            
            background: $indigo;            
        }
    }
    &--shadow7{
        text-shadow: 0 4px 20px $malva;
        &:after
        {        
            color: $malva;        
        }
        &:before{
            content: '';            
            background: $malva;            
        }
    }
  }  

.navlink {
    font-family: 'Josefin';
    font-size: 14px;
    &--a1{
        color: #e6261f!important;
    }
    &--a2{
        color: #fe6623!important;
    }
    &--a3{
        color: #feed01!important;
    }
    &--a4{
        color: #a3e048!important;
    }
    &--a5{
        color: #0169ff!important;
    }
}

.liSub{
    width: 100%;
    background-color: #090d13cc;
    text-align: right;
    padding: 5px;
}
.firstSec{
    display: flex;
    flex-direction: column;
    height: 82vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.thirdSec{
    backdrop-filter: brightness(0.5);
}
.mainTittle{
    width: 70%;
    font-family: 'Josefin';
    font-size: 80px;
    text-align: center;
    color: $biche;
        filter: drop-shadow(2px 2px 2px black);
    padding: 20px;
    transition: color 4s;
}
.conTit{
    width: 100%;
    font-size: 80px;
}

.footerP{
    color: #0880e5;
    letter-spacing: 10px;  
    text-align: center;
    font-size: 15px;
}
.linkUp{
    text-align: center;
    padding: 30px;
}
.aUp{
    font-size: 25px;
}

.pClasif {
    @include parrafos(70%, white)
}

/* FIN ESTILOS COMPARTIDOS EN TODO EL SITIO */